:root {
  --body-background-color: black;
  --body-color: white;
  --cell-background-color: #999;
  --cell-border-color: #3e3d3d;
  --bombed-cell-background-color:red;
}

/* *{
  box-sizing: border-box;
} */

body {
  background-color: var( --body-background-color);
  color: var(--body-color);
  text-align: center;
}
.cell {
  font-size: 1.3em;
  width: 2em;
  height: 2em;
  justify-content: center;
  align-items: center;
  background-color: var(--cell-background-color);
  border: 1px solid var(--cell-border-color);
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  box-shadow: 2px 2px;
}

.board-container {
  margin: auto;
}

.restart{
  background-color: transparent;
  border: none;
  font-size: xx-large;
}

.game-over-img{
  border-radius: 20px;
}

.hide {
  display: none;
}

.game_over{
  /* position: fixed; */
  inset: 0;
  margin:  80px auto;
}

.bombed-cell{
  background-color: var(--bombed-cell-background-color);
}

#timer {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}



/*  */
.button {
  min-width: 140px;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #28a745; /* Green color */
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #1e7e34;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
  margin: 5px;
}

.button:hover {
  background-color: #218838;
  box-shadow: 0 6px #1c7430;
  transform: translateY(-2px);
}

.active, .button:active {
  background-color: #1e7232;
  box-shadow: 0 5px #0a3b16;
  transform: translateY(2.0px);
}

.button:focus {
  outline: none;
}

.button:disabled {
  background-color: #6c757d;
  box-shadow: 0 5px #5a6268;
  cursor: not-allowed;
}

.button-container{
  margin: 20px;
}

.victory{
  position: fixed;
  inset: 0;
  margin: 100px auto;
}

.count{
  margin: 10px;
}